<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MvvmCross" version="4.4.0" targetFramework="portable45-net45+win8" />
  <package id="MvvmCross.Binding" version="4.4.0" targetFramework="portable45-net45+win8" />
  <package id="MvvmCross.Core" version="4.4.0" targetFramework="portable45-net45+win8" />
  <package id="MvvmCross.Platform" version="4.4.0" targetFramework="portable45-net45+win8" />
  <package id="MvvmCross.Plugin.DownloadCache" version="4.4.0" targetFramework="portable45-net45+win8" />
  <package id="MvvmCross.Plugin.File" version="4.4.0" targetFramework="portable45-net45+win8" />
  <package id="MvvmCross.StarterPack" version="4.4.0" targetFramework="portable45-net45+win8" />
  <package id="System.Collections" version="4.3.0" targetFramework="portable45-net45+win8" />
  <package id="System.Collections.Immutable" version="1.3.1" targetFramework="portable45-net45+win8" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="portable45-net45+win8" />
  <package id="System.Globalization" version="4.3.0" targetFramework="portable45-net45+win8" />
  <package id="System.Linq" version="4.3.0" targetFramework="portable45-net45+win8" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="portable45-net45+win8" />
  <package id="System.Runtime" version="4.3.0" targetFramework="portable45-net45+win8" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="portable45-net45+win8" />
  <package id="System.Threading" version="4.3.0" targetFramework="portable45-net45+win8" />
</packages>